# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs/
Debug

# dependencies
gamebyReact/01firstGame/node_modules
gamebyReact/01firstGame/npm-debug.log*
gamebyReact/01firstGame/yarn-error.log
gamebyReact/01firstGame/yarn.lock
gamebyReact/01firstGame/package-lock.json

# production
gamebyReact/01firstGame/dist

# misc
.DS_Store

# umi
gamebyReact/01firstGame/src/.umi
gamebyReact/01firstGame/src/.umi-production
gamebyReact/01firstGame/src/.umi-test
gamebyReact/01firstGame/.env.local
